.admitcardcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    flex-direction: column;
    font-weight: bolder;
    /* margin-top: 200px; */
    background-color: #ADD8E6;

}
.admitcardcontainer .link{
    color: black;
}

.admitcardcontainer .link:hover{
    color: red;
}
.aditem{
    padding: 10px;
    
}