.wrapper{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    /* height: 5vh; */
    /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
    /* background-color: #a28089; */
    background-color: #3B82FC;
    /* padding: 2px; */

}
.navbar{
    width: 70vw;
    /* background-color: greenyellow; */
    display: flex;
    justify-content:flex-end;
    align-items: center;
    

}
.left{
    display: flex;
    flex-direction: row;
    padding: 3px;
    /* background-color: red; */
    /* width: 20vw; */
    width: 100%;
    justify-content: flex-end;


}
.left .btn{
    margin: auto 3px;
    
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.active{
    color: black;
    background-color: white;
    border-radius: 4px;
    padding: 3px;
}
.Testdecoration{
    text-decoration: none;
}

@media (max-width: 600px) {
    .left{
        justify-content: center;
    }
    
}