.Homewrapper{
    /* height: 95vh; */
    /* background-color: red; */
    width: 100vw;
    display: flex;
    justify-content: center;
    /* background-color: #e8e8e8; */
    /* background-color: #44b09e; */
    /* background-color: #7f5a83; */
    /* background: linear-gradient(to top, #a1b8e2 0%, #a2b7de 1%, #5b78aa 100%); */
    background-color:#ADD8E6;
    /* background: linear-gradient(109.6deg, rgb(223, 234, 247) 11.2%, rgb(244, 248, 252) 91.1%); */


/* background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%); */

}
.Homeinsidewrapper{
    /* height: 95vh; */
    /* background-color: green; */
    width: 80vw;
}
.Homeinside2titlewrapper{
    height: 100px;
    /* background-color: #716E8C; */
}
.title{
    font-size:xx-large;
    font-weight: bold;
}
.maincardcontainer{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.card {
    border: 1px solid #ddd;
    border-radius: 4px;
    /* padding: 10px; */
    width: 400px;
    height: 300px;
    overflow:hidden;
    margin: 3px 3px;
    background-color: white;
    /* box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff; */

  }
  @media (max-width: 600px) {
    .maincardcontainer {
      display: flex;
      flex-direction: column-reverse;
      
    }
  }
 
  
  
  
  
  
  
  
  .card-content {
    padding: 10px;
  }
  
  .card-content h3 {
    font-size: 15px;
    margin-top: 0;
    background-color:#3B82FC;
    color: white;
    padding: 7px;
    border-radius: 5px;
  }
  .input-field::placeholder{
    text-align: center;
  line-height: inherit;
  color: white; /* Replace 'red' with your desired color */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
    }

  .input-field{
    border-radius: 1px;
    border: 0px solid black;
  }
  .card-content p {
    margin-bottom: 10px;
  }
  
  .card-content .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 4px;
  }

.sectionpage1{
    margin-top: 70px;
    /* border: 1px solid #22C55E; */
    background-color: white;
}
.sectiontitle{
    font-size: larger;
    font-weight: bolder;
    background-color: brown;
    color: white;
    padding: 10px;
}
.onhover:hover{
    color: blue;
    /* background-color: lightgray; */
}
.onhover{
  /* padding: 10px; */
  font-size:14px;
  color: black;
  /* background-color: red; */
  display: flex;
  text-align: left;
  
  margin:9px;
  /* padding: 5px; */
}
.forspacing{
    height: 50px;
}
.contex1{
  color: white;
}
.contex2{
  color: white;
}
.title{

}
.urltitle{
  color: red;

}
.searchPost{
  padding: 5px;
  margin-bottom: 3px;
}
.element{
  color:red;
}


.register{
  color: red;
}
 
.activ{
  background: linear-gradient(to top, #00154c, #12376e, #23487f);
  color: white;
  pointer-events: none;
  border-radius: 6px;
}
.btnhome button{
  font-size:10px;
}
.btnhome{
  display: flex;
}